h1{
	text-align: center;
}
ul.makanan{
	list-style-type: square; /* list dengan bentuk square */
}
ul.minuman{
	list-style-type: circle;  /* list dengan bentuk lingkaran */
}
ol.alamat{
	list-style-type: upper-alpha;  /* list dengan bentuk alpha */
}
ol.mobil{
	list-style-type: upper-roman;  /* list dengan bentuk romawi */
}